<h1>my Friends</h1>

<div class="search-area">
  <h3>Search stocks</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-rigth-padding">
        <%= text_field_tag :friend, params[:stock], placeholder: "Enter first name, last name, or email", autofocus: true, class: "form-control form-control-lg"%>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= "Search" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="friend-results">

</div>


<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% else %>
  <a>You currently don't have any friends</a>
<% end %>
